<% include ../views/partials/head %>
<% include ../views/partials/header %>
<br>
<div class = "container">
  <p>All games were created in javascript</p>

  <p>Pong, Snake, and Break were created in  in VanillaJS.</p>
  <p>Asteroids and Vertical Mario were created with <strong>PhaserJS.</strong> I do not own the
    assets for any of the game. All Images and audio files are owned by Nintendo Co., Ltd </p>
</div>
<% include ../views/partials/footer %>
