<% include ../views/partials/head %>
<% include ../views/partials/header %>
<br>
<div class = "container">
  <img src = "assets/images/mainPic.jpg" class="pull-left" style="padding-right:15px;" width="25%"/>
  <p>My name is Daniel Makover and I love making programing everything in Javascript. I can program
    everything from APIs ans 2d videos games.<br>To contact me please send an emial: <strong>dmakover@gmail.com</strong></p>
</div>
<% include ../views/partials/footer %>
