  <% include ../views/partials/head %>
  <% include ../views/partials/header %>

   <!-- Main jumbotron for a primary marketing message or call to action -->
   <!-- Header Carousel -->
   <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron container-fluid" id="jumbotron" style ="background-image: url('assets/images/metroid-wallpaper.jpg');background-size: cover;">
      <div class="container" style="color:white;">
        <h1>JS Games!</h1>
        <p><strong>All gallery of javascript games made in PhaserJS and plain'ol VanillaJS</strong></p>
        <br><br><br><br>
      </div>
    </div>

   <div class="container">
      <h1>Games Written In PhaserJS</h1>
      <hr>
     <div class="row">
       <div class="col-md-6">
         <h2>Vertical Mario</h2>
         <img src="assets/images/gamepics/verticalmario.png" class="img-thumbnail img-responsive" alt="Cinque Terre" width="100%" height="100%">
         <p>When The classic NES Game meets flappy bird </p>
         <p><a class="btn btn-primary" href="/verticalmario" role="button">PLAY &raquo;</a></p>
       </div>
       <div class="col-md-6">
         <h2>Asteroids</h2>
         <img src="assets/images/gamepics/asteroids.png" class="img-thumbnail img-responsive" alt="Cinque Terre" width="100%" height="100%">
         <p>Part Asteroids, part Space invaders, part Metroid, all fun!</p>
         <p><a class="btn btn-primary" href="/asteroids" role="button">PLAY &raquo;</a></p>
       </div>
     </div>
       <h1>Classic Games</h1>
       <hr>
       <div class="row">
       <div class="col-md-4">
         <h2>Pong</h2>
         <img src="assets/images/gamepics/pong.png" class="img-thumbnail img-responsive" alt="Cinque Terre" width="100%" height="100%">
        <p></p>
         <p><a class="btn btn-primary" href="/games?game=Pong" role="button">PLAY &raquo;</a></p>
       </div>
       <div class="col-md-4">
         <h2>Snake</h2>
         <img src="assets/images/gamepics/snake.png" class="img-thumbnail img-responsive" alt="Cinque Terre" width="100%" height="100%">
         <p></p>
         <p><a class="btn btn-primary" href="/games?game=Snake" role="button">PLAY &raquo;</a></p>
      </div>
       <div class="col-md-4">
         <h2>Break Out</h2>
         <img src="assets/images/gamepics/breakout.png" class="img-thumbnail img-responsive" alt="Cinque Terre" width="100%" height="100%">
          <p></p>
         <p><a class="btn btn-primary" href="/games?game=Breakout" role="button">PLAY &raquo;</a></p>
       </div>
     </div>
     <div class ="row">
       <div class="col-md-4">
         <h2>Tetris</h2>
         <img src="assets/images/gamepics/tetris.png" class="img-thumbnail" alt="Cinque Terre" width="100%" height="100%">
         <p></p>
         <p><a class="btn btn-primary" href="/games?game=Tetris" role="button">PLAY &raquo;</a></p>
       </div>
     </div>
   </div>

 <% include ../views/partials/footer %>
